body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 30px;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: blue;
}
.container{
    width: 100%
    min-height: 100vh;
    background::
    display: flex;
    
    

}
